.register-form-container {
  margin-top: 50px;
  width: 300px;
  height: 470px;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 50px;
}
.register-form > input {
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid black;
}
.register-form > input:focus {
  outline: none;
}
